:host {
  ion-content {
    //--background: var(--ion-color-light);
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }

  /*
  ion-content.background {
    --background: url("../../../assets/img/HomeSemTexto.jpg") no-repeat ;
  }*/

  ion-item {
    border-radius: 0;
    border-bottom: 1px dotted var(--ion-color-medium);
  }

  ion-card {
    &.no-radius {
      border-radius: 0;
    }
  }
}

.iconeBuraco {
  margin-top: 10%;
  margin-left: 20%;
}
