<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Registrar ocorrência</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <ion-item>
      <ion-label position="stacked" color="primary">Estado</ion-label>
      <ion-input type="text" name="Estado" ngModel>{{localizacao.uf}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Cidade</ion-label>
      <ion-input type="text" name="Cidade" ngModel>{{localizacao.cidade}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Bairro</ion-label>
      <ion-input type="text" name="Bairro" ngModel>{{localizacao.bairro}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Cep</ion-label>
      <ion-input type="text" name="Cep" ngModel>{{localizacao.cep}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Logradouro</ion-label>
      <ion-input type="text" name="Logradouro" ngModel>{{localizacao.logradouro}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Complemento</ion-label>
      <ion-input type="text" name="Complemento" ngModel></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Observação</ion-label>
      <ion-input type="text" name="Observacao" ngModel></ion-input>
    </ion-item>
    <br>

    <img *ngIf="photo" [src]="photo" />

    <ion-button type="button" class="botaoCamera" shape="round" color="danger" size="large" ion-button
      (click)="startCamera()">
      <!-- Advanced: explicity set the icon for each platform -->
      <ion-icon ios="ios-camera" size="medium" md="md-camera"></ion-icon>
    </ion-button>
    <br>

    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">
      Enviar
    </ion-button>
  </form>





</ion-content>