<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">Registrar ocorrência</ion-text>
      </ion-text>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="getGeolocation()" type="submit" shape="round" color="danger" expand="block">
    Atualizar localização
  </ion-button>

  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <ion-item hidden>
      <ion-label position="stacked" color="primary">Lat.</ion-label>
      <ion-input type="text" name="Estado" ngModel>{{userLocation.latitude}}</ion-input>
    </ion-item>
    <ion-item hidden>
      <ion-label position="stacked" color="primary">Long.</ion-label>
      <ion-input type="text" name="Estado" ngModel>{{userLocation.longitude}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Estado</ion-label>
      <ion-input type="text" name="Estado" ngModel>{{userLocation.countryCode}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Cidade</ion-label>
      <ion-input type="text" name="Cidade" ngModel>{{userLocation.subAdministrativeArea}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Bairro</ion-label>
      <ion-input type="text" name="Bairro" ngModel>{{userLocation.subLocality}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Cep</ion-label>
      <ion-input type="text" name="Cep" ngModel>{{userLocation.postalCode}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Logradouro</ion-label>
      <ion-input type="text" name="Logradouro" ngModel>{{userLocation.thoroughfare}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Nº</ion-label>
      <ion-input type="text" name="Logradouro" ngModel>{{userLocation.subThoroughfare}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="primary">Referência</ion-label>
      <ion-input type="text" name="Referência" ngModel></ion-input>
    </ion-item>

    <br>

    <img *ngIf="photo" [src]="photo" />

    <ion-button type="button" class="botaoCamera" shape="round" color="danger" size="large" ion-button
      (click)="startCamera()">
      <!-- Advanced: explicity set the icon for each platform -->
      <ion-icon ios="ios-camera" size="medium" md="md-camera"></ion-icon>
    </ion-button>
    <br>

    <ion-button type="submit" shape="round" color="primary" expand="block" [disabled]="!productForm.valid">
      Enviar
    </ion-button>
  </form>
</ion-content>