<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin class="ion-justify-content-start">
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>O que nós fazemos?</strong></ion-text>
      </h1>
      <p>
        Reunimos idéias de melhoria para a nossa cidade,
        essas idéias podem ser apresentadas por qualquer cidadão, e assim,
        propomos soluções para uma Suzano melhor.
      </p>
      <p>
        Desenvolvemos projetos e pensamos em soluções que
        promovem a capacidade de aprendizado à construção de
        soluções para comunidade.
      </p>
      <p>
        Ouvimos a sociedade e transformamos idéias em
        soluções para que possam ser oferecidas gratuitamente.
      </p>
      <p>
        Entender a necessidade para propor soluções,
        e integrar diversas áreas profissionais no meio acadêmico.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>